<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.6" targetFramework="net45" />
  <package id="LiveCharts.Wpf" version="0.9.6" targetFramework="net45" />
  <package id="MoonPdfLib-x86" version="0.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="Qiniu" version="7.0.0.1" targetFramework="net45" />
  <package id="Sparrow.Chart.Wpf" version="13.1.0.118" targetFramework="net45" />
  <package id="WpfAnimatedGif" version="1.4.14" targetFramework="net45" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="net45" />
</packages>
